
header {
    box-shadow: -1px 6px 35px -4px rgba(0,0,0,0.32);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

a.nav-link {
    color: #fff !important;
    font-weight: 400;
}

main {
    margin-top: 90px;
}
.bg-custom-nav, .bg-custom-nav .bg-light {
    background-color: rgb(75, 75, 75) !important;
}

.card {
    box-shadow: -1px 6px 16px -2px rgba(0,0,0,0.5);
}

.cursos {
}

.parceiros {
    background-color: rgb(243, 243, 243);
}

.cursos, .parceiros {
    padding: 40px 0 10px 0;
    background-attachment: fixed;
}